<%# my_page %>
<% provide(:title, @title) %> 
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= link_to "新規作成", new_user_path, class: "btn btn-primary col-md-3 col-md-offset-9" %>
		<table class="table table-striped">
			<caption><h2><%= @title %></h2></caption>
			<thead>
				<tr>
					<th>ID</th><th>名前</th><th>団体名</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<th><%= user.id %></th>
						<th><%= link_to user.name, edit_user_path(user) %></th>
						<th><%= user.group %></th>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>